<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
  </head>
  <body>
    <div>
      <img src="/images/penweather.jpg" alt="Penrod Weather" class="slds-align_absolute-center">
    <div class="slds-grid slds-gutters slds-wrap slds-grid_align-spread">
        <div class="slds-col slds-size_1-of-2 slds-p-horizontal_large slds-align_absolute-center" style="height:300px">
            <span style="font-size: 16pt">Milwaukee</span>
          <div class="slds-m-left_medium">
              <% if(locals.milWeather !== null){ %>
                <h1><%= locals.milWeather %></h1>
              <% } %>
              <% if(locals.error !== null){ %>
                <p><%= locals.error %></p>
              <% } %>
          </div>
          <div class="slds-m-left_medium">
              <% if(locals.milDesc !== null){ %>
                <p><%= locals.milDesc %></p>
              <% } %>
              <% if(locals.error !== null){ %>
                <p><%= locals.error %></p>
              <% } %>
          </div>
        </div>
        <div class="slds-col slds-size_1-of-2 slds-p-horizontal_large slds-align_absolute-center" style="height:300px">
            <span style="font-size: 16pt">Minneapolis</span>
          <div class="slds-m-left_medium">
              <% if(locals.minWeather !== null){ %>
                <h1><%= locals.minWeather %></h1>
              <% } %>
              <% if(locals.error !== null){ %>
                <p><%= locals.error %></p>
              <% } %>
          </div>
          <div class="slds-m-left_medium">
              <% if(locals.minDesc !== null){ %>
                <p><%= locals.minDesc %></p>
              <% } %>
              <% if(locals.error !== null){ %>
                <p><%= locals.error %></p>
              <% } %>
          </div>
          </div>
          <div class="slds-col slds-size_1-of-2 slds-p-horizontal_large slds-align_absolute-center" style="height:300px">
              <span style="font-size: 16pt">Chicago</span>
            <div class="slds-m-left_medium">
                <% if(locals.chiWeather !== null){ %>
                  <h1><%= locals.chiWeather %></h1>
                <% } %>
                <% if(locals.error !== null){ %>
                  <p><%= locals.error %></p>
                <% } %>
            </div>
            <div class="slds-m-left_medium">
                <% if(locals.chiDesc !== null){ %>
                  <p><%= locals.chiDesc %></p>
                <% } %>
                <% if(locals.error !== null){ %>
                  <p><%= locals.error %></p>
                <% } %>
            </div>
          </div>
            <div class="slds-col slds-size_1-of-2 slds-p-horizontal_large" style="height:300px">
                <span style="font-size: 16pt">Dallas</span>
                <div class="slds-align_absolute-center">
                    <% if(locals.dalWeather !== null){ %>
                      <h1><%= locals.dalWeather %></h1>
                    <% } %>
                    <% if(locals.error !== null){ %>
                      <p><%= locals.error %></p>
                    <% } %>
                </div>
                <div class="slds-align_absolute-center">
                    <% if(locals.dalDesc !== null){ %>
                      <p><%= locals.dalDesc %></p>
                    <% } %>
                    <% if(locals.error !== null){ %>
                      <p><%= locals.error %></p>
                    <% } %>
                </div>
          </div>
  </div>
  </div>
  </body>
</html>